<% if user_signed_in? %>	
	<div class="bg_cont1">
		<div class="bg_cont">
			<section id="content">
				<div class="main">
					<div class="inside">
						<h2>Confirm Cart</h2>
						<div class="container_16 detail_package">
							<div class="container" style="font-size: 30px; line-height:40px">
								Packages: <%= @cart.cart_items.count %></br>
								Total: <%= @cart.total %> USD
							</div>
						</div>
						
						<div class="container_16 detail_package" style="text-align:center">
							<a href="#" class="pay_center btn btn-primary btn-xlarge">Pay</a>
						</div>
						<div>
							<h3>Account for TEST</h3>
							<p style="margin:0px">Username: <span style="font-weight:bold">thanhkhoait-buyer@gmail.com</span></p>
							<p style="margin:0px">Password: <span style="font-weight:bold">123!@#ABC</span></p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

<% end %>

<script>
$(document).ready(function() {
	$(".pay_center").click(function(event) {
		$.ajax({
			type: "Post",
			url: "/confirm",
			data: {id: "<%= @cart.id %>", authenticity_token: $("[name='csrf-token']").attr("content")},
			success: function (data) {
				data = JSON.parse(data);
				if (typeof(data.url) != "undefined") {
					window.location.href = data.url;
				}
			}
		})
		return false;
	})
})
</script>