<div class="bg_cont1">
	<div class="bg_cont">
		<section id="content">
			<div class="main">
				<div class="inside">
					<h2>Create new package is successfull!</h2>
					<div class="container_16 detail_package" style="text-align:center">
						<a href="/packages" class="btn btn-primary btn-xlarge">Browse packages</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>