<div class="bg_cont1">
	<div class="bg_cont">
		<section id="content">
			<div class="main">
				<div class="inside">
					<h2>You need active account by email!</h2>
				</div>
			</div>
		</section>
	</div>
</div>