<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! <%= @cart.user.full_name %></h1>
    <p>Pay is successful!</p>
		
    <p>Total: <%= @cart.total %> USD</p>
		
		<p>Thank you for pay!</p>
  </body>
</html>